services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonarpass
      POSTGRES_DB: agents_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  sonarqube:
    image: sonarqube:community
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://postgres:5432/agents_db
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonarpass
    depends_on:
      - postgres
    ports:
      - "9000:9000"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs

  agents:
    build:
      dockerfile: Dockerfile
    container_name: jade_agents
    environment:
      POSTGRES_URL: jdbc:postgresql://postgres:5432/agents_db
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonarpass
      SONAR_HOST_URL: http://sonarqube:9000
      SONAR_LOGIN: ""
    depends_on:
      - postgres
      - sonarqube
    ports:
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  pgdata:
  sonarqube_data:
  sonarqube_logs:
