name: sma-qa-metrics

services:
  jade:
    container_name: ${JADE_CONTAINER_NAME:-jade}
    build:
      context: ./agentes_jade
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      URI_MONGO: ${URI_MONGO:-mongodb://mongo:27017}

      # Sonar
      URL_SONAR: ${URL_SONAR:-http://sonarqube:9000}
      SONAR_TOKEN: ${SONAR_TOKEN}
      SONAR_PROJECT: ${SONAR_PROJECT:-sma-project}
      PORT_WEBHOOK: ${PORT_WEBHOOK:-8090}

      # LLM (Ollama)
      # LLM_PROVIDER: ${LLM_PROVIDER:-ollama}
      # URL_OLLAMA: ${URL_OLLAMA:-http://ollama:11434}
      # OLLAMA_MODEL: ${OLLAMA_MODEL:-llama3}

      # LLM (Gemini)
      LLM_PROVIDER: ${LLM_PROVIDER:-gemini}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      GEMINI_MODEL: ${GEMINI_MODEL:-gemini-3-flash-preview}
      GEMINI_BASE_URL: ${GEMINI_BASE_URL:-https://generativelanguage.googleapis.com/v1beta/openai/chat/completions}

    ports:
      - "${PORT_JADE:-8080}:8080"
      - "${PORT_WEBHOOK:-8090}:${PORT_WEBHOOK:-8090}"
    volumes:
      - repos_shared:/repos
    restart: unless-stopped
    networks:
      - agents_net
    depends_on:
      mongo:
        condition: service_healthy
      sonar-worker:
        condition: service_started
      # ollama:
      #   condition: service_healthy

  mongo:
    image: mongo:7.0.26-jammy
    container_name: ${MONGO_CONTAINER_NAME:-mongo}
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${PORT_MONGO:-27017}:27017"
    networks:
      - agents_net
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD-SHELL", "mongosh --quiet --eval 'db.runCommand({ ping: 1 }).ok' localhost:27017 | grep 1 >/dev/null"]
      interval: 10s
      timeout: 5s
      retries: 30

  postgres:
    image: postgres:16.11-alpine3.23
    container_name: ${POSTGRES_CONTAINER_NAME:-postgres}
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${PORT_POSTGRES:-5432}:5432"
    networks:
      - agents_net
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 30

  sonarqube:
    image: sonarqube:25.11.0.114957-community
    container_name: ${SONARQUBE_CONTAINER_NAME:-sonarqube}
    restart: unless-stopped
    env_file:
      - .env
    environment:
      URI_SONAR_JDBC: ${URI_SONAR_JDBC:-jdbc:postgresql://postgres:5432/${POSTGRES_DB}}
      SONAR_JDBC_USERNAME: ${POSTGRES_USER}
      SONAR_JDBC_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${PORT_SONARQUBE:-9000}:9000"
    networks:
      - agents_net
    volumes:
      - sonarqube_conf:/opt/sonarqube/conf
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:9000/api/system/status | grep -q '\"status\":\"UP\"'"]
      interval: 10s
      timeout: 5s
      retries: 40

  sonar-worker:
    build: ./workers/sonar-worker
    container_name: ${SONAR_WORKER_CONTAINER_NAME:-sonar-worker}
    restart: unless-stopped
    env_file:
      - .env
    environment:
      URL_SONAR: ${URL_SONAR:-http://sonarqube:9000}
      SONAR_TOKEN: ${SONAR_TOKEN}
      SONAR_PROJECT: ${SONAR_PROJECT:-sma-project}
    ports:
      - "${PORT_SONAR_WORKER:-9100}:9100"
    volumes:
      - repos_shared:/repos
    networks:
      - agents_net
    depends_on:
      sonarqube:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:9100/ >/dev/null 2>&1"]
      interval: 10s
      timeout: 3s
      retries: 30

  # ollama:
  #   image: ollama/ollama:latest
  #   container_name: ${OLLAMA_CONTAINER_NAME:-ollama}
  #   restart: unless-stopped
  #   env_file:
  #     - .env
  #   environment:
  #     OLLAMA_KEEP_ALIVE: ${OLLAMA_KEEP_ALIVE:-24h}
  #     OLLAMA_HOST: 0.0.0.0:11434
  #   ports:
  #     - "${PORT_OLLAMA:-11434}:11434"
  #   volumes:
  #     - ollama_data:/root/.ollama
  #   networks:
  #     - agents_net
  #   healthcheck:
  #     test: ["CMD-SHELL", "ollama list >/dev/null 2>&1"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 60
  #     start_period: 20s


  # ollama-pull:
  #   image: ollama/ollama:latest
  #   container_name: ${OLLAMA_PULL_CONTAINER_NAME:-ollama-pull}
  #   depends_on:
  #     ollama:
  #       condition: service_healthy
  #   networks:
  #     - agents_net
  #   volumes:
  #     - ollama_data:/root/.ollama
  #   restart: "no"
  #   environment:
  #     OLLAMA_HOST: http://ollama:11434
  #   command: ["pull", "${OLLAMA_MODEL:-llama3}"]

networks:
  agents_net:
    driver: bridge

volumes:
  mongo_data:
  postgresql_data:
  repos_shared:
  sonarqube_conf:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  # ollama_data:
