# services:
#   jade-platform:
#     container_name: jade-platform
#     build:
#       context: ./agentes_jade
#       dockerfile: Dockerfile
#     restart: unless-stopped
#     ports:
#       - "8080:8080"
#     depends_on:
#       - mongo

#   webhook-server:
#     container_name: webhook-server
#     build:
#       context: .
#       dockerfile: workers/webhook-server/Dockerfile
#     restart: unless-stopped
#     ports:
#       - "4000:4000"
#     depends_on:
#       - jade-platform

#   sonar-worker:
#     container_name: sonar-worker
#     build:
#       context: .
#       dockerfile: workers/sonar-worker/Dockerfile
#     environment:
#       - SONAR_URL=http://sonarqube:9000
#       - SONAR_TOKEN=${SONAR_TOKEN}
#       - PROJECT_KEY=${PROJECT_KEY}
#       - WEBHOOK_URL=http://webhook-server:4000

#   sonarqube:
#     image: sonarqube:9.9-community
#     container_name: sonarqube
#     restart: unless-stopped
#     ports:
#       - "9000:9000"
#     environment:
#       - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
#     depends_on:
#       - mongo

#   sonar-bootstrap:
#     image: sonarsource/sonar-scanner-cli:latest
#     container_name: sonar-bootstrap
#     depends_on:
#       - sonarqube
#     environment:
#       - SONAR_HOST_URL=http://sonarqube:9000
#       - SONAR_LOGIN=${SONAR_TOKEN}
#       - PROJECT_KEY=${PROJECT_KEY}
#     command: >
#       bash -c "
#         until curl -s http://sonarqube:9000/api/system/health | grep -q 'GREEN'; do
#           echo esperando sonar...
#           sleep 2
#         done

#         sonar-scanner \
#           -Dsonar.projectKey=${PROJECT_KEY} \
#           -Dsonar.sources=/src \
#           -Dsonar.host.url=http://sonarqube:9000 \
#           -Dsonar.login=${SONAR_TOKEN}
#       "
#     volumes:
#       - ./repositorio:/src


#   phpmetrics-worker:
#     container_name: phpmetrics-worker
#     build:
#       context: .
#       dockerfile: workers/phpmetrics-worker/Dockerfile
#     restart: unless-stopped
#     depends_on:
#       - webhook-server

#   mongo:
#     image: mongo:6
#     container_name: mongo
#     restart: always
#     ports:
#       - "27017:27017"
#     volumes:
#       - mongo_data:/data/db

# volumes:
#   mongo_data:
