services:

  jade:
    container_name: jade
    build:
      context: ./agentes_jade
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
      - "8090:8090"
    environment:
      MONGO_URI: mongodb://mongo:27017
    volumes:
      - repos_shared:/repos
    restart: unless-stopped
    depends_on:
      - mongo
      - sonar-scanner

  mongo:
    image: mongo:7.0.26-jammy
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  postgres:
    container_name: postgres
    image: postgres:16.11-alpine3.23
    ports:
      - "5432:5432"
    networks:
      - agents_net
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgresql:/var/lib/postgresql
      - postgresql_data:/var/lib/postgresql/data

  sonarqube:
    container_name: sonarqube
    image: sonarqube:25.11.0.114957-community
    ports:
      - "9000:9000"
    networks:
      - agents_net
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SONAR_JDBC_USERNAME: ${POSTGRES_USER}
      SONAR_JDBC_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - sonarqube_conf:/opt/sonarqube/conf
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    depends_on:
      - postgres
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/api/system/status"]
      interval: 10s
      timeout: 5s
      retries: 20
  
  sonar-scanner:
    container_name: sonar_scanner
    image: sonarsource/sonar-scanner-cli:12.0
    networks:
      - agents_net
    volumes:
      - repos_shared:/repos
      - ./sonar-project.properties:/usr/src/sonar-project.properties
    working_dir: /repos
    entrypoint: ["tail", "-f", "/dev/null"] 
    depends_on:
      sonarqube:
        condition: service_healthy

 







networks:
  agents_net:
    driver: bridge

volumes:
  mongo_data:

  postgresql:
  postgresql_data:

  repos_shared:

  sonarqube_conf:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
